html,body{
	height: 100%;
}
.home-body{
	background: #FF865D;
	padding-top: 10%; 
	height:670px; 
	/*min-height: 655px; */
	color: white;
	border-bottom: 6px solid rgb(254,77,27);

}
.home-body section{
	padding: 0 0% 0 0% !important;
}

.home-body section h1{
	font-weight: normal;
	font-family: Arial Narrow, Helvetica, sans-serif;
}
.home-body section p{
	font-weight: bold;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;	
}
.home-body .footer{
	height: 140px;
	padding-top: 13%;
	text-align: center;
	margin-bottom: 0px !important;
}
.home-body .footer span {
	margin-left: 30px;
}

.home-body .footer a{
	color: white !important;
	font-size: 15px;
}
.button-larger{
	border-radius: 10px 10px 10px 10px;
	width: 230px;
	height: 50px;
	color: white;
	border: 1px solid white;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}
.button-larger-responsive{
	border-radius: 30px 30px 30px 30px;
	width: 430px;
	height: 100px;
	color: white;
	border: 3px solid white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.orange{
	background-color: rgb(254,77,27);
}

.header{
	height: 100px;
	background-color: rgb(254,77,27);
	width: 100%;
	z-index: 1100;	
}

.header .menus div{
	float: left;
	width: 140px;
	height: 100px;
	margin-right: 4px;
	text-align: center;
	padding-top: 4%;
}

.header .menus div a{

	color: white !important;

}

.header .menus div:hover{
	border-bottom: 5px solid orange;
}

.programacao-container{
	
	margin-right: 300px; 
	width: 100%;
        background-color: blue;
}
.programacao-container > .card{
	
	color: white;
	width: 33%;
	float: left;
        padding: 10px;
        
}

.programacao-container .card .card-header{
	padding: 5px;
	font-size: 16px;
        border-bottom: 1px solid white;
        min-height: 50px !important;
        max-height: 70px !important;
}
.programacao-container .card .body{

	padding: 15px;
	margin-top: 0px !important;
	margin-bottom: 10px;
	font-size: 12px;
	min-height: 300px;
}

.orange1{
	background-color: rgb(254, 77, 27) !important;
}

.orange2{
	background-color: #FE5F37 !important;
}

.orange3{
	background-color: 	#FF6A49 !important;
}

.card-left{
    padding: 0 0 0 0 !important;
    z-index: -9;
}
.card-right{
    padding: 0 0 0 0 !important;
    z-index: 9;
}
.card-right > img{

}
.card-left > img{
    height: 570px;
    /*margin-left: -140px !important;*/
   
}
.text-gray{
    color: gray;
}

.bold{
    font-weight: bold;
}

.primary{
    background-color: #415E9B;
    border-color: #415E9B;
    
}
.info   {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.button{
    border-radius: 5px 5px 0 5px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 15px; 
    margin-top: 15px; 
    border: 1px solid;
}

#facebook-button{
    display: none;
}

.tabela{
    width: 100%;
}

.tabela tr td{
    border-bottom: 1px solid #FE4D1B;
    height: 100px;
    color: #FE4D1B;
    font-weight: bold;
    text-align: center;
}

.tabela tr td button{
    border: 1px solid #FE4D1B;
    color: #666666;
    background-color: white;
}

.tabela tr td .describle{
    color: #666666 !important;
}

.tabela tr td .title{
    font-size: 20px;
    text-align: left !important;
}

.text-havy-gray{
    color: #666666;
}

.marck{
    background-color: #FED6CC;
}
.white{
    color: white;
}
.no-padding{
	padding: 0 0 0 0 !important;
}
.no-margin{
	margin: 0 0 0 0 !important;	
}
.no-decoration{
    text-decoration: none !important;
}

.no-decoration:hover{
    color: inherit;
}
.cursorpointer{
    cursor: pointer;
}

.info-card{
	height: 200px;
	width: 500px;
	position: relative;
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(254,77,27);
	margin-left: 30%;
	margin-top: 15%;
	z-index: 1000 !important;
	color: white;
	padding: 50px 30px 0 30px;
}

.info-card p{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.thumbnail-card{
	border: 2px solid rgb(174,108,74);
	height: 290px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	background: repeating-linear-gradient(
		  45deg,
		  rgb(247,237,236),
		  rgb(247,237,236) 1px,
		  rgb(255,252,251) 1px,
		  rgb(255,252,251) 10px
	);
}

.photo-circle{
	border-radius: 50%;
	height: 140px;
	width: 140px;
	background-color: blue;
	border-left: 25px solid rgb(254, 77, 27);
	margin-top: 24%;
	margin-left: 24%;
	background: url('../images/carlosmagno.jpg')center center no-repeat;
}

.photo-circle-responsive{

	border-radius: 50%;
	height: 180px;
	width: 180px;
	background-color: blue;
	border-left: 25px solid rgb(254, 77, 27);
	margin-top: 10%;
	margin-left: 34%;
	background: url('../images/carlosmagno.jpg')center center no-repeat;

}
.responsive-menu{
	cursor: pointer;
}
#menu-dropdown{
	background-color: #FE4D1B;
	width: 100%;
	position: fixed;
	z-index: 110000;
	top: 100px;
	display: none;
}
#menu-dropdown ul {
	border-top: 1px solid orange;
	padding: 30px;
}
#menu-dropdown ul li{
	list-style: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	height: 60px;
}
#menu-dropdown ul li a{
	text-decoration: none;
	color: white;
}
#menu-dropdown-home{
	background-color: #FE4D1B;
	width: 100%;
	position: fixed;
	z-index: 110000;
	top: 40px;
	display: none;
}
#menu-dropdown-home ul {
	border-top: 1px solid orange;
	padding: 30px;
}
#menu-dropdown-home ul li{
	list-style: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	height: 60px;
}
#menu-dropdown-home ul li a{
	text-decoration: none;
	color: white;
}


 @media (min-width: 10px) and (max-width: 768px) {
   #cabecalho{
   		height: 60px;

   }
   #menu-dropdown{
   		top: 60px;
   }
  }
</s
