<div class="header" id='cabecalho' ng-controller="headerController">
        
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
        <a ng-click="goTo('home')">
            <img src="images/coalti.png" style="height:90px" class="cursorpointer hidden-xs hidden-sm"/>
            <img src="images/coalti.png" style="height:50px" class="cursorpointer hidden-md hidden-lg"/>
        </a>
    </div>
    <div class="hidden-xs hidden-sm col-md-10 col-lg-10 menus">
        <div><a ng-click="goTo('congress')" class="cursorpointer">O CONGRESSO</a></div>
        <div><a ng-click="goTo('speakers')" class="cursorpointer">PALESTRANTES</a></div>
        <div><a ng-click="goTo('programming')" class="cursorpointer">PROGRAMAÇÃO</a></div>
        <div><a ng-click="goTo('local')" class="cursorpointer">LOCAL</a></div>
        <div><a ng-click="goTo('contact')" class="cursorpointer">CONTATO</a></div>
        <div><a ng-click="goTo('inscription')" class="cursorpointer">INSCREVA-SE</a></div>
    </div>
     <div class='col-xs-10 col-sm-10 hidden-md hidden-lg text-right' style="padding-top: 10px">
        <i class='fa fa-bars fa-3x white' onclick="dropdown()"></i>
    </div>
    <div class="clearfix"></div>
</div>  

   

<div id="menu-dropdown">
    <ul style="display: block">
        <li><a href="#congress"  onclick="">O CONGRESSO</a></li>
        <li><a href="#speakers"  onclick="$('#menu-dropdown').hide()">PALESTRANTES</a></li>
        <li><a href="#programming"  onclick="$('#menu-dropdown').hide()">PROGRAMAÇÃO</a></li>
        <li><a href="#local"  onclick="$('#menu-dropdown').hide()">LOCAL</a></li>
        <li><a href="#contact"  onclick="$('#menu-dropdown').hide()">CONTATO</a></li>
        <li><a href="#inscription"  onclick="$('#menu-dropdown').hide()">INSCREVA-SE</a></li>
    </ul>
</div>
<script type="text/javascript">
    function dropdown() {
        var display = $("#menu-dropdown").css('display');

        if(display == 'none'){
            $("#menu-dropdown").slideDown("slow", function(data){});
        } else {
            $("#menu-dropdown").slideUp("slow", function(data){});
        }
    }

   
</script>
<script type="text/javascript">
         $(document).ready(function() {
 
        //     //Calculate the height of <header>
        //     //Use outerHeight() instead of height() if have padding
            var aboveHeight = $('#cabecalho').height() + 550;
        
            $(window).scroll(function(){
                //if scrolled down more than the header’s height
                    if ($(window).scrollTop() > aboveHeight){
     
                // if yes, add “fixed” class to the <nav>
                // add padding top to the #content 
                //    (value is same as the height of the nav)
                    $('#cabecalho').css('position','fixed').css('top','0').next()
                    .css('padding-top','60px');
     
                    } else {
     
                // when scroll up or less than aboveHeight,
                //    remove the “fixed” class, and the padding-top
                    $('#cabecalho').css('position','relative').next()
                    .css('padding-top','0');
                    }
            });
        });
    </script>