
<div class="clearfix" divider></div>

<div class="col-md-12 col-lg-12">

	<div class="col-md-12 text-center" style="padding-top: 4%">

		<h4><span style="border-bottom: 4px solid rgb(254, 77, 27)"><strong>O CONGRESSO</strong></span></h4>
		<div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
        <p class="col-sm-12 col-xs-12 col-md-8 col-lg-8 text-justify" style="padding-top: 4%">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus lacus purus, eget sodales ante lobortis rutrum. Donec quis nisl tempus, tincidunt dolor congue, congue felis. Nam tincidunt, tellus vel rutrum volutpat, mi ligula dictum libero, rhoncus rutrum dui lectus rhoncus lorem. Cras rutrum gravida accumsan. Fusce malesuada tempor eros id vehicula. Mauris lobortis viverra mi, ut tincidunt elit luctus vitae. Pellentesque tempus, diam quis lacinia luctus, sem felis aliquet leo, vel pharetra felis metus at justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vestibulum ac ligula id mattis.
		</p>
		<div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>

	</div>

</div>

<div class="col-md-12 col-lg-12">

	<div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>

	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4text-left" style="padding-top: 4%;">
		<h4 class="text-center"><span style="border-bottom: 4px solid rgb(254, 77, 27)"><strong>O OBJETIVO</strong></span></h4>
        <p class="text-justify col-ms-12 col-xs-12 col-md-12 col-lg-12" style="padding-top: 4%">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus lacus purus, eget sodales ante lobortis rutrum. Donec quis nisl tempus, tincidunt dolor congue, congue felis. Nam tincidunt, tellus vel rutrum volutpat, mi ligula dictum libero, rhoncus rutrum dui lectus rhoncus lorem. Cras rutrum gravida accumsan. Fusce malesuada tempor eros id vehicula. Mauris lobortis viverra mi, ut tincidunt elit luctus vitae. Pellentesque tempus, diam quis lacinia luctus, sem felis aliquet leo, 
		</p>

	</div>

	<div class="col-xs-12 col-sm-12 col-md-4 text-left" style="padding-top: 4%">
		<h4 class="text-center"><span style="border-bottom: 4px solid rgb(254, 77, 27)"><strong>O PUBLICO ALVO</strong></span></h4>
        <p class="text-justify col-ms-12 col-xs-12 col-md-12 col-lg-12" style="padding-top: 4%">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus lacus purus, eget sodales ante lobortis rutrum. Donec quis nisl tempus, tincidunt dolor congue, congue felis. Nam tincidunt, tellus vel rutrum volutpat, mi ligula dictum libero, rhoncus rutrum dui lectus rhoncus lorem. Cras rutrum gravida accumsan. Fusce malesuada tempor eros id vehicula. Mauris lobortis viverra mi, ut tincidunt elit luctus vitae. Pellentesque tempus, diam quis lacinia luctus, sem felis aliquet leo, 
		</p>
	</div>

	<div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>

</div>
