<div class="clearfix" divider></div>

<div class="col-md-12 col-lg-12">

	<div class="col-md-12 text-center" style="padding-top: 4%">

		<h4><span style="border-bottom: 4px solid rgb(254, 77, 27)"><strong>CONTATO</strong></span></h4>

		<div class="col-md-2"></div>

		<div class="col-md-8 text-left" style="padding-top: 4%">
			<p>
				
			</p>
		</div>

		<div class="col-md-2"></div>

	</div>

</div>
<div>

    <div class='hidden-xs hidden-sm col-md-2 col-lg-2'></div>

    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4' style="margin-bottom: 15px;">    

        <form class="col-md-12">
            <div class="form-group">
                
                <input type="text" ng-model="item.name" class="form-control" placeholder="Nome"/>
            </div>
            <div class="form-group">

                <input type="text" ng-model="item.email" class="form-control" placeholder="email"/>
            </div>
            <div class="form-group">
                <textarea type="text" ng-model="item.mensagem" class="form-control" placeholder="mensagem" rows="7"></textarea>
            </div>
        </form>

        <div class="clearfix hidden-md hidden-lg"></div>

        <di class="col-xs-12 col-md-12 col-md-12 col-lg-12 text-center">
            <button style="border-radius: 10px 10px 0 10px; background-color: #FE4D1B; height: 40px; width: 180px; border: 1px solid  #FE4D1B; font-weight: bold; color: white ">Enviar</button>
        </div>
        
    </div>

    <div class="clearfix hidden-md hidden-lg"></div>

    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4'>

        <span class="text-gray bold col-md-12" style="font-size: 16px">Siga o COALTI nas redes sociais</span>

        <div class="clearfix"></div>

        <div class="hidden-xs hidden-ms col-md-12 col-lg-12">
            <button class="button primary col-md-12" style="border-radius: 10px 10px 0px 10px"><a href="https://www.facebook.com/coalti/?fref=ts" class="no-decoration white"target="_blank"><i class="fa fa-facebook"></i> Curta nossa pagina</a></button>
        </div>

        <div class="hidden-md hidden-lg text-center">
            <button class="button primary col-md-12" style="border-radius: 10px 10px 0px 10px"><a href="https://www.facebook.com/coalti/?fref=ts" class="no-decoration white"target="_blank"><i class="fa fa-facebook"></i> Curta nossa pagina</a></button>
        </div>

        <div class="hidden-xs hidden-ms  col-md-12 col-lg-12">
            <button class="button info col-md-12" style="border-radius: 10px 10px 0px 10px"><i class="fa fa-twitter"></i> Siga nos no Twitter</button>
        </div>

        <div class="hidden-md hidden-lg text-center">
            <button class="button info col-md-12" style="border-radius: 10px 10px 0px 10px"><i class="fa fa-twitter"></i> Siga nos no Twitter</button>
        </div>

        <div class="col-md-12 text-center">
            <p style="font-size: 16px; font-weight: bold;">contato<span style="color: #D57F77 !important">@</span>coalti.com.br</p>
        </div>

    </div>

    <div class='hidden-xs hidden-sm col-md-2 col-lg-2'></div>

</div>
