	<div class="home-body">
			<section>
				
				<div class="hidden-xs hidden-sm col-md-6 col-lg-6" style="padding: 1% 0 0 20%">
					<img src="images/coalti.png" style="height: 250px">
				</div>

				<!-- responsivo -->
				<div class="col-xs-12 col-sm-12 hidden-md hidden-lg" style="padding-left:30% !important">
					<img src="images/coalti.png" style="height: 170px">
				</div>


				<div class="clearfix hidden-md hidden-lg"></div>

				<div class="col-xs-12 col-ms-12 col-md-6 col-lg-6">
					<div class="hidden-xs hidden-sm">
						<h1>8º COALTI</h1>
						<p>CONGRESSO DE TECNOLOGIA DA INFORMAÇÃO</p>
						
						<h1>de 07 à 09 de outubro</h1>
		                <button class='button-larger orange'><a class="white no-decoration" href="#inscription">INSCREVA-SE</a></button>
					</div>
					<div class="hidden-md hidden-lg text-center">
						<h4>8º COALTI</h4>
						<p style="font-size: 11px !important">CONGRESSO DE TECNOLOGIA DA INFORMAÇÃO</p>
						
						<h6>de 07 à 09 de outubro</h6>
					    <button class='button-larger orange'><a class="white no-decoration" href="#inscription">INSCREVA-SE</a></button>
					</div>

				</div>

				<div class="clearfix"></div>

			</section>

			<div class="clearfix"></div>
			<div class="hidden-xs hidden-sm col-md-12 col-lg-12 footer">
				<span><a href="#congress">O CONGRESSO</a></span>
				<span><a href="#speakers">PALESTRANTES</a></span>
				<span><a href="#programming">PROGRAMAÇÃO</a></span>
				<span><a href="#local">LOCAL</a></span>
			</div>
			<div class="clearfix"></div>
			
	</div>
	