<div class="clearfix" divider></div>

<div class="col-md-12 col-lg-12">

    <div class="col-md-12 text-center" style="padding-top: 4%">

        <h4><span style="border-bottom: 4px solid rgb(254, 77, 27)"><strong>INSCRIÇÕES</strong></span></h4>

        <div class="col-md-12 text-left" style="padding-top: 4%">

        </div>

    </div>

</div>

<div class="col-md-12 col-lg-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="tabela">
            <thead>
                <tr>
                    <td class="col-md-4"></td>
                    <td class="col-md-2">
                        <p class="describle">LOTE 1</p>
                        <p>até 31/05</p>
                    </td>
                    <td class="col-md-2">
                        <p class="describle">LOTE 2</p>
                        <p>até 31/06</p>
                    </td>
                    <td class="col-md-2">
                        <p class="describle">LOTE 3</p>
                        <p>até 31/07</p>
                    </td>
                    <td class="col-md-2 marck">
                        <p class="describle">LOTE EXTRA</p>
                        <p>Última Chance</p>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-4" class="title">PROFISSIONAL</td>
                    <td class="col-md-2">
                        <span class="text-havy-gray bold">R$ 100</span><br/>
                        <button>INSCREVA-SE</button>
                    </td>
                    <td class="col-md-2">
                        <span class="text-havy-gray bold">R$ 150</span><br/>
                        <button>INSCREVA-SE</button>
                    </td>
                    <td class="col-md-2">
                        <span class="text-havy-gray bold">R$ 200</span><br/>
                        <button>INSCREVA-SE</button>
                    </td>
                    <td class="col-md-2 marck">
                        <span class="text-havy-gray bold">R$ 200</span><br/>
                        <button>INSCREVA-SE</button>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4" class="title">ESTUDANTE</td>
                    <td class="col-md-2">
                        <span class="text-havy-gray bold">R$ 50</span><br/>
                        <button>INSCREVA-SE</button>
                    </td>
                    <td class="col-md-2">
                        <span class="text-havy-gray bold">R$ 75</span><br/>
                        <button>INSCREVA-SE</button>
                    </td>
                    <td class="col-md-2">
                        <span class="text-havy-gray bold">R$ 100</span><br/>
                        <button>INSCREVA-SE</button>
                    </td>
                    <td class="col-md-2 marck">
                        <span class="text-havy-gray bold">R$ 100</span><br/>
                        <button>INSCREVA-SE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
