<div class"clearfix" divider></div>
<div class="col-md-12 text-center" style="padding-top: 4%">

    <h4><span style="border-bottom: 4px solid rgb(254, 77, 27)"><strong>LOCAL</strong></span></h4>

    <div class="col-md-2"></div>

    <div class="col-md-8 text-left" style="padding-top: 4%">

    </div>

    <div class="col-md-2"></div>

</div>
<div class="clearfix"></div>
<div class="hidden-xs hidden-sm col-md-6 col-lg-6 no-padding card-left ">
    <img src='images/maceio.jpg'/>
</div>
<div class="col-xs-12 col-ms-12 col-md-6 col-lg-6 no-padding  card-right" ng-controller='homeController'>
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=-9.668819,%20-35.722851&zoom=16&size=600x600&maptype=roadmap&sensor=true&markers=icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon%26chld=cafe%color:blue|-9.668819,%20-35.722851&key=AIzaSyDpxizFpek3GN0raetj1lqyb8TLp4qdpSU" style="    height: 570px;    width: 100%;" class="cursorpointer" ng-click="goToMaps()">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.1385320452864!2d-35.72602078583355!3d-9.669202604859954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xd949cc26d355d60a!2sCentro+Cultural+e+de+Exposi%C3%A7%C3%A3o+Ruth+Cardoso!5e0!3m2!1spt-BR!2sbr!4v1456691961390" width="680" height="570" frameborder="0" style="border:0" allowfullscreen></iframe> -->
</div>

<!-- <div class="info-card">
	Teatro Ruth Cardoso - Centro de Convenções
	Rua Celso Piatti, s/n - Jaraguá, Maceió - AL, 57022-210
</div> -->