
<div class="clearfix" divider></div>
<div class="col-md-12 text-center" style="padding-top: 4%">

    <h4><span style="border-bottom: 4px solid rgb(254, 77, 27)"><strong>PROGRAMAÇÃO</strong></span></h4>

    <div class="col-md-2"></div>

    <div class="col-md-8 text-left" style="padding-top: 4%">

    </div>

    <div class="col-md-2"></div>

</div>

<div class="col-md-12" style="">

	<div class="col-md-2"></div>

	<div class="hidden-xs hidden-sm col-md-8 col-lg-8">

		<div class="programacao-container">

			<div class="card orange1" style="border-radius: 15px 0 0 15px">
				<div class="card-header orange1" >
					<i>SEXTA-FEIRA</i> <br/>
					<strong>07 OUTUBRO 2016</strong>
				</div>
				<div class="body">
					<p>9:00 ABERTURA</p>
					<p>9:30 PALESTRA COM CARLOS MAGNO</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
				</div>

			</div>
			<div class="card orange2">
				<div class="card-header orange2">
					<i>SÁBADO</i> <br/>
					<strong>08 OUTUBRO 2016</strong>
				</div>
				<div class="body">
					<p>9:00 ABERTURA</p>
					<p>9:30 PALESTRA COM CARLOS MAGNO</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
				</div>

			</div>
			<div class="card orange3" style="border-radius: 0px 15px 0 0px">
				<div class="card-header orange3 ">
					<i>DOMINGO</i>  <br/>
					<strong>09 OUTUBRO 2016</strong>
				</div>
				<div class="body">
					<p>9:00 ABERTURA</p>
					<p>9:30 PALESTRA COM CARLOS MAGNO</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
				</div>

			</div>
		</div>
	</div>

	<!-- Responsivo -->
	<div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
		<div class="programacao-container">
			<div class="card orange1" style="border-radius: 15px 0 0 0px; width: 100% !important">
				<div class="card-header orange1" >
					<i>SEXTA-FEIRA</i> <br/>
					<strong>07 OUTUBRO 2016</strong>
				</div>
				<div class="body">
					<p>9:00 ABERTURA</p>
					<p>9:30 PALESTRA COM CARLOS MAGNO</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
				</div>

			</div>
			<div class="card orange2" style="width: 100% !important">
				<div class="card-header orange2">
					<i>SÁBADO</i> <br/>
					<strong>08 OUTUBRO 2016</strong>
				</div>
				<div class="body">
					<p>9:00 ABERTURA</p>
					<p>9:30 PALESTRA COM CARLOS MAGNO</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
				</div>

			</div>
			<div class="card orange3" style="border-radius: 0px 0 15px 15px; width: 100% !important">
				<div class="card-header orange3 ">
					<i>DOMINGO</i>  <br/>
					<strong>09 OUTUBRO 2016</strong>
				</div>
				<div class="body">
					<p>9:00 ABERTURA</p>
					<p>9:30 PALESTRA COM CARLOS MAGNO</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
					<p>10:00 PALESTRA COM CARLOS MAGNO</p>
					<p>10:30 WORKSHOP DE JQUERY</p>
				</div>

			</div>
		</div>
		
	</div>
	<div class="col-md-2"></div>
	<div class="clearfix" style="padding: 15px"></div>
</div>