<div class="clearfix" divider></div>
<div class="col-md-12 col-lg-12" ng-init='callSpeakers()'>

    <div class="col-md-12 text-center" style="padding-top: 4%">

        <h4><span style="border-bottom: 4px solid rgb(254, 77, 27)"><strong>OS PALESTRANTES</strong></span></h4>

        <div class="col-md-12" style="padding-top: 4%"></div>

    </div>

    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="thumbnail-card col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center" ng-repeat="speak in speakers">
            <div class="photo-circle hidden-xs hidden-ms" style="background: url('{{speak.photo}}')center center no-repeat;"></div>
            <div class="photo-circle-responsive hidden-md hidden-lg" style="background: url('{{speak.photo}}')center center no-repeat;"></div>
            <div class="clearfix"></div>
            <p><h4><strong>{{speak.name}}</strong></h4></p>
            <p><i style='color: #999999'>{{speak.role}}</i></p>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>